@model IEnumerable<ProyectoFinalCadenaHotelera.Models.Hotel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre_hotel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion_hotel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ciudad_hotel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono_hotel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_hotel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion_hotel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ciudad_hotel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono_hotel)
        </td>
        <td>
            @Html.ActionLink("Ver reservas", "FiltroEstado", new { id=item.HotelId }) 
        </td>
    </tr>
}

</table>
