@model ProyectoFinalCadenaHotelera.Models.Reserva

@{
    ViewBag.Title = "DetalleReserva";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var idReserva = Model.ReservaId;
    int dias = 0;
    int diferencia = 0;
    if (Model.EstadoReservaId != 3)
    {
        DateTime llegada = Convert.ToDateTime(Model.fecha_llegada);
        DateTime salida = Convert.ToDateTime(Model.fecha_salida);
        dias = Convert.ToInt32((salida - llegada).TotalDays);
        diferencia = Model.costo_total - Model.saldo_actual;
    }
}

<h2>Detalle de la reserva [ID:@idReserva] </h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        @{
            if (Model.EstadoReservaId != 3)
            {
                <dt>
                    @Html.Label("Hotel")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Habitacion.Hotel.nombre_hotel)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ApplicationUser.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ApplicationUser.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ApplicationUser.Apellido)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ApplicationUser.Apellido)
                </dd>
            }
        }


        <dt>
            @Html.DisplayNameFor(model => model.EstadoReserva.nombre_estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoReserva.nombre_estado)
        </dd>

        @{
            if (Model.EstadoReservaId != 3)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Habitacion.num_habitacion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Habitacion.num_habitacion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.fecha_llegada)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fecha_llegada)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.fecha_salida)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fecha_salida)
                </dd>

                <dt>
                    @Html.Label("Cantidad de días: ")
                </dt>

                <dd>
                    @dias
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.costo_total)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.costo_total)
                </dd>

                <dt>
                    @Html.Label("Pagado: ")
                </dt>

                <dd>
                    @diferencia
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.saldo_actual)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.saldo_actual)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Habitacion.TipoHabitacion.nombre_tipo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Habitacion.TipoHabitacion.nombre_tipo)
                </dd>
            }
        }
    </dl>
</div>

