@model IEnumerable<ProyectoFinalCadenaHotelera.Models.Hotel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 mt-3">
        <h2>Selecciona el hotel</h2>
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-4 mt-2">
                <div class="thumbnail">
                    <img class="img-responsive" src="../../img/hotel/@Html.DisplayFor(modelItem => item.imagen_hotel)" alt="Hotel @Html.DisplayFor(modelItem => item.nombre_hotel)">
                    <div class="caption">
                        <h3>@Html.DisplayFor(modelItem => item.nombre_hotel)</h3>
                        <p> @Html.DisplayFor(modelItem => item.descripcion_hotel)</p>
                        <p>Ubicado en @Html.DisplayFor(modelItem => item.ciudad_hotel)</p>
                        <button class="btn btn-primary">
                            @Html.ActionLink("Crear reserva", "PreReserva", new { id = item.HotelId }, new { @class = "text-white" })
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

